


.board {
    height: 78vh;
    width: 75vw;
    margin: 1vh;
    border-radius: 1.3vh;
    background-color: rgba(240, 248, 255, 0.452);
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.card{ 
    height: 35vh;
    width : 13vw;
    margin: 1vh;
    border-radius: .75vh;
    background-color: rgb(247, 255, 247, .5);
}



.pic {
    height: 35vh;
    width : 13vw;
    background-size: cover;
    background-position: center center;
}

@media screen and (max-width: 1250px)  and  (min-width: 760px){
    .card {
        width: 12.5vw;
        height: 29vh;
    }
    
    .pic {
        width: 12.5vw;
        height: 29vh;
    }
}

