


.board {
    height: 78vh;
    width: 75vw;
    margin: 1vh;
    border-radius: 1.3vh;
    background-color: rgba(240, 248, 255, 0.452);
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.card{ 
    height: 35vh;
    width : 13vw;
    margin: 1vh;
    border-radius: .75vh;
    background-color: rgba(240, 248, 255, 0.6);
}

.card:hover {
    transform: rotate(10deg)
}

.pic {
    height: 35vh;
    width : 13vw;
    background-size: cover;
    background-position: center center;
}

